.game-project-name {
  height: 32px;
  padding: 0 24px;
  background: #caff43;
  color: #000;
  clip-path: polygon(
    0 0,
    calc(100% - 7px) 0,
    100% 7px,
    100% 100%,
    7px 100%,
    0 calc(100% - 7px)
  );

  .a8-super-app-typography {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.banner-section {
  .banner {
    &-title {
      font-size: 48px;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;

      background: linear-gradient(270deg, #d8ff76 19.91%, #f9ffe7 92.8%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
