.section-title {
  font-family: 'Bw Gradual';
  line-height: 120% !important;
  margin-bottom: 0 !important;
  background: linear-gradient(91deg, #fff 3.84%, #d8ff76 70%) !important;
  background-clip: text !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
}
