.section-title {
  font-family: 'Bw Gradual';
  line-height: 120% !important;
  margin-bottom: 0 !important;
  background: linear-gradient(91deg, #fff 3.84%, #d8ff76 70%) !important;
  background-clip: text !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
